<!DOCTYPE html>
<html lang="bd">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="news-container">
    <div class="container-fluid px-md-5">
      <div class="row">
        <div class="col col-5 col-md-3 col-lg-2">
          <p class="bg-primary text-white text-center py-2">করোনা আপডেট </p>
        </div>
        <div class="col col-7 col-md-9 col-lg-10">
          <div class="news-ticker">
            <marquee class="bg-light py-2" behavior="scroll" direction="left" onmouseover="this.stop();"
              onmouseout="this.start();">
              <p class="mb-0">
                <span>
                  <i class="fa fa-circle-o mr-2" style="color: red" aria-hidden="true"></i>
                  ২৪ ঘন্টায় বাংলাদেশে
                  <span class="text-warning">নতুন সংক্রমণ:</span> <%= covidDataBn.todayCases %>,
                  <span class="text-warning">মোট আক্রান্ত:</span> <%= covidDataBn.cases %>;
                  <span class="text-danger">মৃত্যু:</span> <%= covidDataBn.todayDeaths %>,
                  <span class="text-danger">মোট মৃত্যু:</span> <%= covidDataBn.deaths %>;
                  <span class="text-success">নতুন করে সুস্থ:</span> <%= covidDataBn.todayRecovered %>,
                  <span class="text-success">মোট সুস্থ:</span> <%= covidDataBn.recovered %>
                </span>
                <span class="ml-5">
                  <i class="fa fa-circle-o mr-2" style="color: red" aria-hidden="true"></i>
                  বিশ্বে করোনায়
                  <span class="text-warning">নতুন সংক্রমণ:</span> <%= worldData.todayCases %>,
                  <span class="text-warning">মোট আক্রান্ত:</span> <%= worldData.cases %>;
                  <span class="text-danger">মৃত্যু:</span> <%= worldData.todayDeaths %>,
                  <span class="text-danger">মোট মৃত্যু:</span> <%= worldData.deaths %>;
                  <span class="text-success">মোট সুস্থ:</span> <%= worldData.recovered %>;
                  <span class="text-danger">মোট আক্রান্ত দেশ:</span> <%= worldData.affectedCountries %> টি
                  - তথ্যসূত্রঃ <a href="https://coronavirus.jhu.edu/map.html">জন হপকিংস ইউনিভার্সিটি</a>
                </span>
              </p>
            </marquee>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-md-5 mb-4">

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col mb-2">
        <div class="panel border border-warning text-center">
          <div class="panel-head bg-warning text-white py-2 mb-4">
            <h4>শনাক্ত</h4>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="panel-subhead">২৪ ঘণ্টায়</p>
              <h3 class="panel-data text-warning"><%= covidDataBn.todayCases %></h3>
            </div>
            <div class="col-6">
              <p class="panel-subhead">মোট</p>
              <h3 class="panel-data text-warning"><%= covidDataBn.cases %></h3>
            </div>
          </div>
          <div class=" row">
            <div class="col">
              <div class="panel-footer py-2">
                <%= changeRateBn.todayCases %>%
                <% if (changeRate.todayCases < 0) { %>
                (কমেছে)
                <% } else { %>
                (বেড়েছে)
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="panel border border-danger text-center">
          <div class="panel-head bg-danger text-white py-2 mb-4">
            <h4>মৃত্যু</h4>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="panel-subhead">২৪ ঘণ্টায়</p>
              <h3 class="panel-data text-danger"><%= covidDataBn.todayDeaths %></h3>
            </div>
            <div class="col-6">
              <p class="panel-subhead">মোট</p>
              <h3 class="panel-data text-danger"><%= covidDataBn.deaths %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="panel-footer py-2">
                <%= changeRateBn.todayDeaths %>%
                <% if (changeRate.todayDeaths < 0) { %>
                (কমেছে)
                <% } else { %>
                (বেড়েছে)
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="panel border border-success text-center">
          <div class="panel-head bg-success text-white py-2 mb-4">
            <h4>সুস্থ</h4>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="panel-subhead">২৪ ঘণ্টায়</p>
              <h3 class="panel-data text-success"><%= covidDataBn.todayRecovered %></h3>
            </div>
            <div class="col-6">
              <p class="panel-subhead">মোট</p>
              <h3 class="panel-data text-success"><%= covidDataBn.recovered %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="panel-footer py-2">
                <%= changeRateBn.recovered %>%
                <% if (changeRate.recovered < 0) { %>
                (কমেছে)
                <% } else { %>
                (বেড়েছে)
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="panel border border-info text-center">
          <div class="panel-head bg-info text-white py-2 mb-4">
            <h4>পরীক্ষা</h4>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="panel-subhead">২৪ ঘণ্টায়</p>
              <h3 class="panel-data text-info"><%= covidDataBn.todayTests %></h3>
            </div>
            <div class="col-6">
              <p class="panel-subhead">মোট</p>
              <h3 class="panel-data text-info"><%= covidDataBn.tests %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="panel-footer py-2">
                <%= changeRateBn.test %>
                <% if (changeRate.test < 0) { %>
                (কমেছে)
                <% } else { %>
                (বেড়েছে)
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid px-md-5 mt-4 mb-4">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="chart-container table-responsive">
          <canvas id="coronaCasesByTime" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="chart-container table-responsive">
          <canvas id="coronaDeathByTime" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="chart-container table-responsive">
          <canvas id="pie-chart-one" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="chart-container table-responsive">
          <canvas id="pie-chart-two" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-md-5 mt-4 mb-4">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="text-center mb-2">
          <h4>বিভাগভিত্তিক আক্রান্তের সংখ্যা</h4>
        </div>
        <div class="mb-5">
          <table id="datatable-one" class="table table-sm table-striped table-hover table-bordered datatable">
            <thead class="thead-light">
              <tr>
                <th>বিভাগের নাম</th>
                <th class="text-center">মোট আক্রান্ত</th>
              </tr>
            </thead>
            <tbody>
              <% divisions.forEach(function(division) { %>
              <tr>
                <td><%= division.name %></td>
                <td class="text-center"><%= division.count %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="text-center mb-2">
          <h4>জেলাভিত্তিক আক্রান্তের সংখ্যা</h4>
        </div>
        <table id="datatable-two" class="table table-sm table-striped table-hover table-bordered datatable">
          <thead class="thead-light">
            <tr>
              <th>জেলার নাম</th>
              <th scope="col" class="text-center">মোট আক্রান্ত</th>
            </tr>
          </thead>
          <tbody>
            <% districts.forEach(function(district) { %>
            <tr>
              <td class=""><%= district.name %></td>
              <td class="text-center"><%= district.count %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% include ../sections/news.ejs %>
  <% include ../partials/social.ejs %>
  <% include ../partials/footer.ejs %>
  <% include ../partials/charts.ejs %>
</body>

</html>
